@page
@model CheckProxy.Pages.CheckPortModel
@{
}
<h1> Проверка портов</h1>

<form method="post">
    <input type="text" name="IP" id="IP" />
    <input type="text" name="Ports" id="Ports" />
    <input type="submit" name="Отправить" />
</form>