@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<figure id="welcome">
    <article id="w-1">
        <div id="welcome-block">
            <h1>
                Our service is the best proxy checker! <br>
                <span>
                    We have a high scan speed of 64 threads and smart algorithms for recognizing proxies in lists. <br>
                    We check proxies for many parameters, including ping, connection speed and anonymity. <br>
                    We provide streaming results with flexible settings and export only the information you need.
                </span>
            </h1>
        </div>
        <p>
            We have a high scan speed of 64 threads and smart algorithms for recognizing proxies in lists. <br>
            We check proxies for many parameters, including ping, connection speed and anonymity. <br>
            We provide streaming results with flexible settings and export only the information you need.
        </p>
    </article>
    <figure id="w-2">
        <article class="block">
            <div class="content">
                <i class="fas fa-cloud"></i>
                <p>Port checker</p>
                <a asp-area="" asp-page="/CheckPort" class="btn"><i class="fas fa-clipboard-check"></i>Check</a>
            </div>
        </article>
        <article class="block">
            <div class="content">
                <i class="fas fa-cloud"></i>
                <p>Proxy checker</p>
                <a asp-area="" asp-page="/CheckProxy" class="btn"><i class="fas fa-clipboard-check"></i>Check</a>
            </div>s
        </article>
        <article class="block">
            <div class="content">
                <i class="fas fa-cloud"></i>
                <p>PDF Download</p>
            </div>
        </article>
        <article class="block">
            <div class="content">
                <i class="fas fa-cloud"></i>
                </p>CSV Download</p>
            </div>
        </article>
    </figure>
</figure>