body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

*, html {
  margin: 0;
  padding: 0;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #000000;
  text-decoration: none;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body.darkbody {
  background: #121212;
}

body.darkbody header nav ul .btns .btn {
  color: #ffffff;
}

body.darkbody header nav ul .btns .btn:before {
  width: 0px;
  height: 2px;
  border-radius: 30px;
  position: absolute;
  background: none;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  body.darkbody header nav ul .btns .btn:hover:before {
    width: 20px;
    background: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

body.darkbody #welcome {
  color: #ffffff;
}

body.darkbody #welcome #w-2 .block {
  background: #1d1d1d;
}

body.darkbody #proxy-checker {
  color: #ffffff;
}

body.darkbody #proxy-checker textarea {
  background: #1d1d1d !important;
  color: #b9b9b9;
}

body.darkbody #port-checker {
  color: #ffffff;
}

body.darkbody #port-checker .port-input input[type=text] {
  background: #1d1d1d !important;
  color: #b9b9b9 !important;
}

body.darkbody #port-checker #port-form input[type=text] {
  background: #1d1d1d !important;
  color: #b9b9b9 !important;
}

body.darkbody #port-checker #port-results ul li {
  background: #1d1d1d !important;
  color: #b9b9b9 !important;
}

body.darkbody #proxy-results ul li {
  background: #1d1d1d !important;
  color: #b9b9b9 !important;
}

header {
  padding: 50px 15vw;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
  header {
    padding: 7vw 7vw;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul #theme-switcher p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul #logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #292929;
  font-size: 2em;
  background: #396afc;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc));
  background: linear-gradient(to right, #b162e2, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  header nav ul #logo:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

header nav ul .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #292929;
}

header nav ul .btns .btn {
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  color: #000000;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  header nav ul .btns .btn {
    display: none;
  }
  header nav ul .btns .btn#theme-switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header nav ul .btns .btn:before {
  width: 0px;
  height: 2px;
  border-radius: 30px;
  position: absolute;
  background: none;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  header nav ul .btns .btn:hover:before {
    width: 20px;
    background: #292929;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

header nav ul .btns .btn i {
  margin-right: 7px;
}

header nav ul .btns .btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main {
  padding: 5vh 15vw;
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  main {
    padding: 7vw 7vw;
    padding-top: 0;
  }
}

main #welcome {
  width: 100%;
}

main #welcome #w-1 {
  margin-bottom: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #welcome #w-1 #welcome-block {
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  height: 40vh;
  background-image: url("../img/ph1.jpg");
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  main #welcome #w-1 #welcome-block {
    height: 183px;
  }
}

main #welcome #w-1 #welcome-block h1 {
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.7em;
  width: 90%;
}

@media screen and (max-width: 768px) {
  main #welcome #w-1 #welcome-block h1 {
    font-size: 1em;
  }
  main #welcome #w-1 #welcome-block h1 span {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  main #welcome #w-1 #welcome-block h1 span {
    font-size: 0.7em;
    font-weight: normal;
  }
}

main #welcome #w-1 p {
  line-height: 30px;
  text-align: left;
  font-size: 0.8em;
}

@media screen and (min-width: 768px) {
  main #welcome #w-1 p {
    display: none;
  }
}

main #welcome #w-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 768px) {
  main #welcome #w-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main #welcome #w-2 .block {
  border-radius: 30px;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 100%;
  margin-right: 20px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-height: 183px;
  position: relative;
}

main #welcome #w-2 .block .content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main #welcome #w-2 .block .fa-cloud {
  font-size: 2em;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  main #welcome #w-2 .block {
    margin-bottom: 30px;
  }
}

main #welcome #w-2 .block:last-child {
  margin-bottom: 0;
}

main #welcome #w-2 .block img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

main #welcome #w-2 .block .btn {
  background: #396afc;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc));
  background: linear-gradient(to right, #b162e2, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

main #welcome #w-2 .block .btn i {
  margin-right: 7px;
}

main #welcome #w-2 .block p {
  margin-bottom: 7px;
}

main #welcome #w-2 .block:last-child {
  margin-right: 0;
}

main #proxy-checker #proxy-results h1 {
  margin-bottom: 30px;
}

main #proxy-checker #proxy-results ul {
  list-style: none;
  width: 100%;
}

main #proxy-checker #proxy-results ul li {
  box-sizing: border-box;
  width: 100%;
  max-width: 302.8px;
  display: block;
  border-radius: 25px;
  border: none;
  color: #78838f;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 17.2px 25px;
  font-size: 1.3em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  position: relative;
}

@media screen and (max-width: 768px) {
  main #proxy-checker #proxy-results ul li {
    width: 1000px;
    max-width: 100%;
  }
}

main #proxy-checker .header {
  margin-bottom: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #proxy-checker .description {
  margin-bottom: 30px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #proxy-checker #proxy-header span {
  background: #396afc;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc));
  background: linear-gradient(to right, #b162e2, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #proxy-checker #proxy-form input[type=submit] {
  border: none;
  background: none;
  background: #396afc;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc));
  background: linear-gradient(to right, #b162e2, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  font-weight: 800;
  cursor: pointer;
}

main #proxy-checker #proxy-form textarea {
  border: none;
  display: block;
  border-radius: 25px;
  height: 300px;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 25px;
  font-size: 1.3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
  position: relative;
  resize: none;
}

@media screen and (max-width: 768px) {
  main #proxy-checker #proxy-form textarea {
    width: 100%;
  }
}

main #proxy-checker #proxy-form h1 {
  margin-bottom: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #port-checker .header {
  margin-bottom: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #port-checker .description {
  margin-bottom: 30px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #port-checker #ports-header span {
  background: #396afc;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc));
  background: linear-gradient(to right, #b162e2, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #port-checker #port-results h1 {
  margin-bottom: 30px;
}

main #port-checker #port-results ul {
  list-style: none;
  width: 100%;
}

main #port-checker #port-results ul li {
  box-sizing: border-box;
  width: 100%;
  max-width: 302.8px;
  display: block;
  border-radius: 25px;
  border: none;
  color: #78838f;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 17.2px 25px;
  font-size: 1.3em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  position: relative;
}

@media screen and (max-width: 768px) {
  main #port-checker #port-results ul li {
    width: 1000px;
    max-width: 100%;
  }
}

main #port-checker #submitportsbtn {
  margin-bottom: 15px;
}

main #port-checker #port-form .port-input {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main #port-checker #port-form .port-input i {
  position: absolute;
  right: 5px;
  -webkit-box-shadow: -10px 0px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 0px 10px -2px rgba(0, 0, 0, 0.1);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fc7268;
  cursor: pointer;
  padding: 20px;
}

main #port-checker #port-form input[type=submit] {
  border: none;
  background: none;
  background: #396afc;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc));
  background: linear-gradient(to right, #b162e2, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  font-weight: 800;
  cursor: pointer;
}

main #port-checker #port-form input[type=text] {
  display: block;
  border-radius: 25px;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  height: 35px;
  padding: 30px 25px;
  font-size: 1.3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
  position: relative;
}

main #port-checker #port-form input[type=text]:focus {
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  main #port-checker #port-form input[type=text] {
    width: 100%;
  }
}

main #port-checker #port-form .port-input {
  -webkit-animation: addport 0.5s ease-in-out;
          animation: addport 0.5s ease-in-out;
}

main #port-checker #port-form .removeport {
  -webkit-animation: removeport 0.5s ease-in-out;
          animation: removeport 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 768px) {
  main #port-checker #port-form .removeport {
    width: 100%;
  }
}

main #port-checker #port-form h1 {
  margin-bottom: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #addportbtn {
  background: #396afc;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc));
  background: linear-gradient(to right, #b162e2, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 15px;
}

main #addpopportsbtn {
  background: #396afc;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc));
  background: linear-gradient(to right, #b162e2, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #addpopportsbtn.locked {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #usemyipbtn {
  background: #396afc;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc));
  background: linear-gradient(to right, #b162e2, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes removeport {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    height: -webkit-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: fit-content;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    height: 0;
    width: -webkit-fit-content;
    width: fit-content;
  }
}

@keyframes removeport {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    height: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@-webkit-keyframes addport {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes addport {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 15vw;
  color: #5f5f5f;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  footer {
    position: static;
    padding: 15px 10vw;
    padding-top: 0;
  }
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 768px) {
  footer nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    line-height: 50px;
  }
}

footer nav ul .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5f5f5f;
}

@media screen and (max-width: 768px) {
  footer nav ul .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

footer nav ul .btns .btn {
  margin-left: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  footer nav ul .btns .btn {
    margin-left: 0;
  }
}

footer nav ul .btns .btn:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background: #ae62e3;
}
/*# sourceMappingURL=style.css.map */